<h1>Welcome to the game</h1>

<h2>Here are the rules of Rock, Paper, Scissors</h2>

<body>
  <p>Players choose Rock, Paper, or Scissors</p>

  <p>Rock beats Scissors</p>

  <p>Paper beats Rock</p>

  <p>Scissors beats Paper</p>

  <p>If players choose the same thing then it's a draw</p>
</body>
